@use 'src/sass/mixins.scss' as *;

:root {
  --colorPrimary: #0157c4;
  --colorSecondary: #ffffff;
  --colorNeutral: #f7f7f7;

  --colorText: #222222;
  --colorText2: #9c9c9c;
  --colorText3: #fff;

  --colorBorder: #d3d3d3;
  --colorError: #922412;

  --radius: 10px;
  --menuHeight: 80px; // update globalVariables.ts MENU_HEIGHT
  --fontPrimary: 'Gelasio';
  --fontSecondary: 'Lexend';
}

.dark-mode {
  --colorNeutral: #121212; // #282828
  --colorSecondary: #282828;
  --colorSecondary2: #3f3f3f;
  --colorBorder: rgba(255, 255, 255, 0.2);
  --colorText: #f3f3f3;
  --colorText2: #727272;
  --colorText3: #f1f1f1;
}
